#wrapper{
  background-color: white;
  width: 1000px;
}

#header{
  background-color:red;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 10px;
}

#content{
  background-color:green;
  height:400px;
  color: white;
  padding-top: 16px;
}

#footer{
  background-color: blue;
  color: white;
  height; 50px;
  padding-top: 16px;
}
